name: Build

on:
  push:
    branches:
      - master
      - docs
    paths:
      - '**.yml'
      - 'include/**'
      - 'src/**'
      - 'CMakeLists.txt'
      - '**.cmake'
  pull_request:
    branches:
      - master
    paths:
      - '**.yml'
      - 'include/**'
      - 'src/**'
      - 'CMakeLists.txt'
      - '**.cmake'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        - windows-latest
    steps:
    - uses: actions/checkout@v5
      with:
        submodules: true

    - name: Install latest CMake and Ninja
      uses: lukka/get-cmake@v4.2.0

    - name: Install LLVM and Clang
      uses: KyleMayes/install-llvm-action@v1.9.0
      with:
        version: "14.0"

    - name: vcpkg install
      run: |
        vcpkg install spdlog
        vcpkg install cli11
        vcpkg list

    - name: Setup VCPKG_DEFAULT_TRIPLET (macOS)
      if: matrix.os == 'macos-latest'
      run: |
        echo "VCPKG_DEFAULT_TRIPLET=x64-osx" >> $env:GITHUB_ENV

    - name: Build Ninja
      run: |
        cmake -S . -B build/ninja/ -GNinja

    - name: Build target
      run: |
        cmake -S . -B build/${{ runner.os }}/
